@model pRoom.meetVM
@{
    var menudisplay = Model.isRecorder == 1 ? "display:none" : "";
    if (Model.isRecorder == 1)
    {
    <div style="width:100%;height:41px;border-bottom: solid 1px #9ea29f;font-weight: bold;float:;">
        <div style="width:15%;max-height:40px;float:left">
            <img style="width: 50px;height:100%;" src="~/images/loader4.gif" />
        </div>
        <div style="float:left;width:85%;padding:5px;padding-right:15px;text-align:right">@Model.meetName</div>

    </div>
       
    }
}

<div id="MainNavBar" class="lPanel_nav" style="height:37px;border-top:groove 1px;@menudisplay">
    <a href="#" class="menu-toggle" id="menu-toggle" style="float:left;padding-right:7px;padding-top: 5px;">
        <i class="fa fa-bars" style="font-size:17px;" aria-hidden="true"></i>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span style="color:red" id="unReadMessage"></span>
    </a>
    @if (Model.isRecorder == 1)
    {
        @*<div style="max-width:50px;max-height:40px;">
                <img style="width: 90%;" src="~/images/loader4.gif" />
            </div>*@
    }
    <div id="MainBarMobile">
        <div class="dropdown" style="float:left;">
            <button class=" dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <div class="dropdown-item farfar screanShareIcon" onclick="webRtcControler.click()">
                    <i class="fas fa-desktop"></i>
                    @Model.translate.Conference
                </div>
                <div class="dropdown-item farfar pdfFileIcon" style="display:block;" onclick="fileService.openFilePanelModal()">
                    <i class="far fa-file-pdf"></i>
                    @Model.translate.fileManagement
                </div>
                <div class="dropdown-item farfar boardIcon" onclick="boardClick()">
                    <i class="far fa-edit"></i>
                    @Model.translate.WhiteBoard
                </div>
                <div class="dropdown-item farfar officIcon" style="display:block;" onclick="officControler.Click()">
                    <i class="fas fa-file-word"></i>
                    @Model.translate.officSoft
                </div>

                <div class="dropdown-item farfar quizIconPanel" onclick="quiz.start()">
                    <i class="far fa-chart-bar" style="font-size:16px" aria-hidden="true"></i>
                    @Model.translate.QuizzesAndPolls
                </div>
                <div class="dropdown-item farfar vPlayerIconPanel" onclick="vPlayer.Preparation()">
                    <i class="far fa-play-circle" style="font-size:16px" aria-hidden="true"></i>
                    @Model.translate.Play
                </div>

                <div class="dropdown-item farfar diagramIcon" onclick="diagramControler.diagramClick(this)">
                    <i class="fas fa-project-diagram"></i>
                    @Model.translate.diagram
                </div>

                <div class="dropdown-item farfar MathEditorIcon " onclick="MathEditorControler.onClick(this)">
                    <i class="fas fa-square-root-alt"></i>
                    <span>@Model.translate.MathEditor</span>
                </div>

                <div class="dropdown-item farfar recordIcon " style="display:block;" onclick="recordControler.onClick()">
                    <i class="fas fa-record-vinyl"></i>
                    <span>record</span>
                </div>

                <div class="dropdown-item farfar leave-room-span" style="display:block;" data-toggle="modal" data-target="#endMeetingExitModal">
                    <span id="leave-room">
                        <i class="fas fa-power-off" style="font-size:16px" aria-hidden="true"></i>
                    </span>
                    @Model.translate.LeaveClass
                </div>
            </div>
        </div>

    </div>

    <div id="MainBarDesctop">

        <div class="farfar screanShareIcon" onclick="webRtcControler.click()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.Conference">
            <i class="fas fa-desktop"></i>
        </div>
        <div class="farfar pdfFileIcon" style="display:block;" onclick="fileService.openFilePanelModal()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.fileManagement">
            <i class="far fa-file-pdf"></i>
        </div>
        <div class="farfar boardIcon" onclick="boardClick()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.WhiteBoard">
            <i class="far fa-edit"></i>
        </div>

        <div class="farfar developPanelIcon" onclick="developControler.onClick()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.Develop">
            <i class="fas fa-code"></i>
        </div>

        <div class="farfar officIcon" onclick="officControler.Click(this)" style="display:block;" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.officSoft">
            @*<i class="far fa-file-word"></i>*@
            <i class="fas fa-file-word"></i>
        </div>

        <div class="farfar quizIconPanel" onclick="quiz.start()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.QuizzesAndPolls">
            <i class="far fa-chart-bar" style="font-size:16px" aria-hidden="true"></i>
        </div>
        <div class="farfar vPlayerIconPanel" onclick="vPlayer.Preparation()" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.Play">
            <i class="far fa-play-circle" style="font-size:16px" aria-hidden="true"></i>
        </div>
        <div class="farfar diagramIcon" onclick="diagramControler.diagramClick(this)" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.diagram">
            <i class="fas fa-project-diagram"></i>
        </div>
        <div class="farfar MathEditorIcon " onclick="MathEditorControler.onClick(this)" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.MathEditor">
            <i class="fas fa-square-root-alt"></i>
        </div>

        <div class="farfar recordIcon " id="recordIcon"  style="display:block;" onclick="recordControler.onClick()" data-toggle="tooltip" data-placement="bottom" title="click to start record">           
            <i class="fas fa-record-vinyl"></i>
        </div>

        <div class="farfar leave-room-span" style="display:block;" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.LeaveClass">
            <span id="leave-room" data-toggle="modal" data-target="#endMeetingExitModal">
                <i class="fas fa-power-off" style="font-size:16px" aria-hidden="true"></i>
            </span>
        </div>

        @*<div onclick="boardControler.click()" class="farfar leave-room-span" style="display:block;" data-toggle="tooltip" data-placement="bottom" title="@Model.translate.LeaveClass">
                <span   >
                    <i class="fas fa-power-off" style="font-size:16px" aria-hidden="true"></i>
                </span>
            </div>*@
    </div>
    <div class="farfar" style="display:block;">
        <select class="custom-select" id="layoutDropDownSelect" aria-label="Example select with button addon" style="height:23px;margin:0px;padding:0px;width:80px;padding-left:4px;font-size:12px;">
            <option selected="" value="1">@Model.translate.Default </option>
            <option value="11">@Model.translate.Layout 1</option>
            <option value="12">@Model.translate.Layout 2 </option>
            <option value="13">@Model.translate.Layout 3</option>
            <option value="14">@Model.translate.Layout 7</option>
            @*<option value="21">@Model.translate.Layout 4</option>*@
            <option value="22">@Model.translate.Layout 5</option>
            <option value="23">@Model.translate.Layout 6</option>
            <option value="24">@Model.translate.Layout 8</option>
        </select>

    </div>
    <div class="farfar" style="display:block;"> @Model.meetName.Substring(0, Math.Min(27, Model.meetName.Count()))</div>
</div> 